/*CSS-Reset*/
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    z-index: 0;
}


/* Header Info and LogOut */
header {
    width: 100%;
    height: 5vh;
    background-color: lightblue;
    
}
#userInfoMainbox {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: stretch; /* Stellt sicher, dass die Kinder die gesamte Höhe einnehmen */
    height: 100%; /* Setzt die Höhe des Containers */
}
#userTextBox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 80%;
    padding-left: 5%;
}
#userLogoutBox {
    display: flex;
    justify-content: flex-end; /* Inhalt ganz rechts */
    align-items: center; /* Zentriert den Inhalt vertikal */
    width: 20%;
} 
#logoutButton {
    width: 5vh;
    height: 5vh;
    border: none;
    outline: none;  
}

#logoutButton:hover {
    background-color: rgb(149, 14, 14);
}


/* Quiz */
#quizMainBox {
    width: 70%;  
    max-width: 500px;  
    margin: 0 auto;
    margin-top: 10%;  
    background-color: lightblue;  
    padding: 20px;  
}
.dachpcLogo {
    width: 100%;
    height: auto;
    max-width: 100%;
    object-fit: contain;
}
.frage {
    background-color: black; 
    width: 100%; 
    padding: 10px; 
    margin-bottom: 20px; 
    color: white;
    font-weight: bold;
}
.antwort {
    background-color: #3498db; 
    color: white; 
    width: 100%;
    margin-right: 20px; 
    margin-bottom: 20px;  
    padding: 10px;  
    box-sizing: border-box;  
    
}
.antwort:hover {
    background-color: #124465;
}

/* Media Query für Tablets */
/* diese Regel wird nur dann angewendet wenn Bildshirmbreite
1000px beträgt oder kleiner */
@media (max-width: 1000px) {
    #quizMainBox {
        width: 80%; /* Nimmt 80% der Breite des Fensters ein */
        margin-top: 30%; /* Weniger Abstand oben */
        padding: 10px; /* Weniger Padding für Tablets */
    }
}

/* Media Query für Smartphones */
@media (max-width: 768px) {
    #quizMainBox {
        width: 95%; 
        margin-top: 50%; 
        padding: 10px; 
    }
}

footer {
    width: 100%;
    height: 33,33%;
    background-color: lightgreen;
}

